body {
    background-color: grey;
    height: 100vh;
    min-height: 100vh;
    
}

.modal {
    width: 800px;
    position: relative;
    background-color: green;
    margin-right: 0;
    min-height: 200px;
    height: fit-content;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.modalButtons {
    background-color: yellow;
    width:fit-content;
    margin: 0;
    position: absolute;
    left: 50%;
    bottom: 5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
}

.modalButtons .btn {
    background-color: pink;
    margin: 0 auto;
    width: 12rem;
    height: 3rem;

}

.upperStuff {
    height: 40px;
}