body {
    background-color: grey;
}

.modal {
    width: 800px;
    position: absolute;
    background-color: green;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}